{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Агент {{ counter.name }}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 card shadow p-3">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th>Статус</th>
                          <td>{{ object.status }}</td>
                        </tr>
                        <tr>
                          <th>Название организации</th>
                          <td>{{ object.org_name }}</td>
                        </tr>
                        <tr>
                          <th>Номер телефона</th>
                          <td>{{ object.phone }}</td>
                        </tr>
                      <tr>
                          <th>Создано</th>
                          <td>{{ object.created_at }}</td>
                        </tr>
                      <tr>
                          <th>Информация</th>
                          <td>{{ object.extra_info }}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col-lg-3 card shadow p-3">
                    <h3>Баланс</h3>
                     <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th>Сум</th>
                          <td>{{ object.balance_uzs }}</td>
                        </tr>
                        <tr>
                          <th>Доллар</th>
                          <td>{{ object.balance_usd }}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}{% endblock %}