{% extends 'layout.html' %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Агенты</h4>
                <a class="btn btn-primary ml-auto" href="{% url 'counter-party:add' %}">Добавить</a>
            </div>
        </div>

         <div class="card shadow m-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ф.И.О</th>
                                <th>ОРГАНИЗАЦИИ</th>
                                <th>НОМЕР ТЕЛЕФОНА</th>
                                <th>БАЛАНС (ДОЛЛАР)</th>
                                <th>БАЛАНС (СУММ)</th>
                                <th>СОЗДАНО</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in object_list %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.org_name }}</td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.balance_usd }}</td>
                                <td>{{ i.balance_uzs }}</td>
                                <td>{{ i.created_at }}</td>
                                <td class="text-center text-primary">
                                    <a href="{% url 'counter-party:update' i.id %}"><i class="fa fa-pen fa-solid"></i></a>
                                    <a href="{% url 'counter-party:each' i.id %}"><i class="fa-solid fa fa-eye"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7" class="text-center font-weight-bold">
                                    Empty
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}{% endblock %}