{% extends 'layout.html' %}

{% block css %}

{% endblock %}

{% block body %}
         <div class="card shadow m-4">
            <h3 class="font-weight-bold text-dark my-3 p-3">Отчеты доходов</h3>
            <div class="p-3">
                 <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">ЮЗЕР</th>
                      <th scope="col">СУММА</th>
                      <th scope="col">МЕТОД ОПЛАТЫ</th>
                        <th scope="col">ОПИСАНИЕ</th>
                        <th scope="col">КОНТР АГЕНТ</th>
                        <th scope="col">СОЗДАНО</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in object_list %}
                    <tr>
                      <th scope="row">{{ i.user }}</th>
                        {% if i.currency == 'Доллар' %}
                          <td>$ {{ i.sum }}</td>
                            {% else %}
                                <td>{{ i.sum }} Сум</td>
                        {% endif %}
                      <td>{{ i.payment_type }}</td>
                      <td>{{ i.description }}</td>
                        <td>--</td>
                        <td>{{ i.created_at }}</td>
                    </tr>
                      {% empty %}
                      <tr>
                        <td scope="row" colspan="7" class="text-center">Empty</td>
                      </tr>
                     {% endfor %}
                    <thead  class="thead-light">
                  <tr>
                      <th colspan="7">
                          <span class="font-weight-bold text-dark my-3 p-3">Общий итог</span>
                          <input class="usd_input" placeholder="$">
                          <input class="uzs_input" placeholder="sum">
                      </th>
                  </tr>
                     </thead>
                  </tbody>
                </table>
            </div>
         </div>

{% endblock %}

{% block js %}
    <script>
        let total_usd = 0;
        let total_uzs = 0;
        {% for i in object_list %}
            {% if i.currency == 'Доллар' %}
                total_usd += {{ i.sum }}
                {% else %}
                total_uzs += {{ i.sum }}
            {% endif %}
        {% endfor %}
        $('.usd_input').val('$ ' + total_usd);
        $('.uzs_input').val(total_uzs + ' Сум');
    </script>

{% endblock %}