{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}
    <style>
    .dropdown_dot {
        position: absolute;
        right: 0;
        background-color: white;
        color: black;
        width: 50%;
    }
    .dropdown_dot a:hover {
        text-decoration: none;
    }
    </style>
{% endblock %}

{% block body %}
         <div class="card shadow m-4">
            <div class="card-body">
                <div class="row border-bottom mb-3">
                    <div class="col-lg-9">
                        <div class="d-flex">
                            <h3 class="font-weight-bold">Заказ № {{ order.id }}</h3>
                            <h3 class="text-dark border-right pr-2">от {{ order.created_at }}</h3>
                            {% if order.get_status_display == 'Удалён' %}
                                <p class="bg-danger px-2 ml-2 text-white">{{ order.get_status_display }}</p>
                                {% elif order.get_status_display == 'Оплаченный/Долговой' %}
                                    <p class="bg-warning px-2 ml-2 text-white">{{ order.get_status_display }}</p>
                                {% else %}
                                    <p class="bg-primary px-2 ml-2 text-white">{{ order.get_status_display }}</p>
                            {% endif %}
                        </div>
                        <div class="d-flex my-2">
                            <h4>Агент: </h4>
                            <a href="{% url 'counter-party:each' order.counter_party_id %}" class="btn btn-primary ml-2">{{ order.counter_party }}</a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right">
                        <div>
                            <button class="btn btn-primary dot_dot"><h6>. . .</h6></button>
                            <div class="card p-2 shadow text-center dropdown_dot font-weight-bold d-none">
                                {% if order.get_status_display == 'В процессе' %}
                                    <a href="{% url 'pdf' %}" class="d-block">Распечатать фактуру</a>
                                    <a href="#" class="d-block move_order">Переместить в корзину</a>
                                    <a href="#" class="d-block bg-success close_order">Закрыт</a>
                                {% elif order.get_status_display == 'Закрытый' %}
                                    <a href="{% url 'pdf' %}" class="d-block">Распечатать фактуру</a>
                                    <a href="#" class="d-block move_order">Переместить в корзину</a>
                                    {% else %}
                                        <a href="{% url 'pdf' %}" class="d-block">Распечатать фактуру</a>
                                {% endif %}
                                <form name="close_form" method="POST" action="{% url 'order:action' order.id %}" type="hidden">
                                    {% csrf_token %}
                                    <input name="status" value="2" type="hidden">
                                </form>
                                <form name="move_form" method="POST" action="{% url 'order:action' order.id %}" type="hidden">
                                    {% csrf_token %}
                                    <input name="status" value="1" type="hidden">
                                </form>
                            </div>
                        </div>
                        <div class="my-2">
                            <p><b>Итог (UZS):</b> {{ order.total_uzs }} сум</p>
                            <p><b>Итог (USD):</b> {{ order.total_usd }} $</p>
                        </div>
                    </div>
                </div>
                <h3 class="text-dark font-weight-bold">Список товаров</h3>
                <table class="table table-striped my-5">
                  <thead>
                    <tr>
                      <th scope="col">ПРОДУКТ</th>
                      <th scope="col">РАЗМЕР</th>
                      <th scope="col">КОЛИЧЕСТВО</th>
                      <th scope="col">ЦЕНА</th>
                        <th>СУММА (UZS)</th>
                        <th>СУММА (USD)</th>
                        <th>ДЕЙСТВИЕ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tbody>
                </table>
            {% if order.get_status_display == 'В процессе' %}
                <h3 class="text-dark font-weight-bold">Продукт</h3>
                <div class="text-right">
                    <div>
                        <h3 class="text-dark font-weight-bold">Продукты В Складе</h3>
                        {% for i in product %}
                        <p>{{ i.title }}</p>
                            {% empty %}
                            <p>No products</p>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h4 class="text-dark font-weight-bold">Добавить Продукт В Заказа</h4>
                    <a href="#" class="btn btn-primary">Добавить</a>
                </div>
                {% elif order.get_status_display == 'Закрытый' or order.get_status_display == 'Завершенный' %}
                    <h3 class="text-dark font-weight-bold my-4">Добавить Оплату Для Заказа</h3>
                    <form method="POST" action="{% url 'order:order_item_add' order.id %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                    <button class="btn btn-primary btn-md btn-block my-3" type="submit">Добавить</button>
                    </form>
                <h3 class="text-dark font-weight-bold my-4">Список Оплат По Заказу</h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ДАТА</th>
                      <th scope="col">СУММА</th>
                      <th scope="col">ВАЛЮТА</th>
                      <th scope="col">МЕТОД ОПЛАТЫ</th>
                        <th scope="col">КОММЕНТАРИИ</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in order_item %}
                  <tr>
                      <th scope="row">{{ i.created_at }}</th>
                      <td>{{ i.sum }}</td>
                      <td>{{ i.currency }}</td>
                      <td>{{ i.payment_type }}</td>
                      <td>{{ i.description }}</td>
                    </tr>
                      {% empty %}
                          <tr>
                              <th scope="row" class="text-center" colspan="5">Empty</th>
                            </tr>
                  {% endfor %}
                  <tr>
                      <th scope="row"></th>
                      <td>Итог (UZS):</td>
                      <td class="uzs">0</td>
                      <td>Итог (USD):</td>
                      <td class="usd">0</td>
                  </tr>
                  </tbody>
                </table>
            {% endif %}
            </div>
        </div>

{% endblock %}

{% block js %}
    <script>
        $('.dot_dot').on('click', function(){
            $('.dropdown_dot').toggleClass('d-block');
        });

        $('.move_order').on('click', function(){
           $('form[name="move_form"]').submit();
        });
        $('.close_order').on('click', function(){
           $('form[name="close_form"]').submit();
        });

        let total_usd = 0;
        let total_uzs = 0;

        {% for i in order_item %}
            {% if i.currency == 'Доллар' %}
                total_usd += {{ i.sum }}
                    {% else %}
                        total_uzs += {{ i.sum }}
            {% endif %}
        {% endfor %}

        $('.uzs').html(total_uzs);
        $('.usd').html(total_usd);
    </script>
{% endblock %}