{% extends 'layout.html' %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Заказы</h4>
                <a class="btn btn-primary ml-auto" href="{% url 'order:add' %}">Добавить</a>
            </div>
        </div>

         <div class="card shadow m-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>КОНТР АГЕНТ</th>
                                <th>СУММА(СУМ)</th>
                                <th>СУММА(ДОЛЛАР)</th>
                                <th>КУРС ВАЛЮТЫ</th>
                                <th>ДЕЙСТВИЕ</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in object_list %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.counter_party }}</td>
                                <td>{{ i.total_uzs }}</td>
                                <td>{{ i.total_usd }}</td>
                                <td>{{ i.rate }}</td>
                                <td class="text-center text-primary">
                                    <a href="{% url 'order:update' i.id %}"><i class="fa fa-pen fa-solid"></i></a>
                                    <a href="{% url 'order:each' i.id %}"><i class="fa-solid fa fa-eye"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="text-center font-weight-bold" colspan="6">
                                    Empty
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}{% endblock %}