{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Добавить машину</h4>
            </div>
            <div class="mx-auto m-4 p-3 w-75">
                <form method="POST" action="{% url 'motoadmin1:cars_add' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                  <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>

        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Машины</h4>
            </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>НОМЕР МАШИНЫ:</th>
                        <th>ВОДИТЕЛЬ</th>
                        <th>КОНТАКТЫ ВОДИТЕЛЯ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for i in cars %}
                    <tr>
                        <td>{{ i.car_number }}</td>
                        <td>{{ i.driver }}</td>
                        <td>{{ i.driver_phone }}</td>
                        <td class="text-center text-primary"><a href="{% url 'motoadmin1:cars_edit' i.id %}"><i class="fa fa-pen fa-solid"></i></a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="6">Empty</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
{% endblock %}

{% block js %}{% endblock %}