{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Изменить машину соотрудника</h4>
            </div>
            <div class="mx-auto m-4 p-3 w-75">
                <form method="POST" action="#">
                    {% csrf_token %}
                    {{ form|crispy }}
                  <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
            </div>
        </div>
{% endblock %}

{% block js %}{% endblock %}