{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}
    <style>

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup {
  width:350px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
}
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
}
.popup .dismiss-btn button {
  padding:10px 20px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:#111;
  background:#f5f5f5;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
    </style>
{% endblock %}

{% block body %}

    <!-- alert -->
    <div class="popup center">
  <div class="icon">
    <i class="fa fa-check"></i>
  </div>
  <div class="title">
    Описание
  </div>
  <div class="description">
   Оплата за заказ
  </div>
  <div class="dismiss-btn">
    <button id="dismiss-popup-btn">
      Закрыт
    </button>
  </div>
</div>
    <!-- end alert -->


        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Возврат</h4>
            </div>
            <div class="mx-auto m-4 p-3 w-75">
                <form method="POST" action="{% url 'motoadmin1:costs_return_list' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="category">Категория расхода:</label>
                            <select id="category" name="category" class="form-control" required>
                                <option selected></option>
                                {% for i in cat %}
                                    <option data-type="{{ i.type }}" value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-8 response_div">
                            <label for="reason">Причина</label>
                            <select id="reason" name="reason" class="form-control" required>

                            </select>
                        </div>
                        <div class="col-lg-4 changing_div d-none">
                            <label for="changing_div" class="changing_div_label">&nbsp;</label>
                            <select id="changing_div" name="changing_div" class="form-control" required>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="sum">Сумма расхода:</label>
                            <input class="form-control" name="sum" id="sum" type="number" required>
                        </div>
                        <div class="col-lg-8">
                            <label for="comment">Комментарии</label>
                            <input class="form-control" name="comment" id="comment" type="text" required>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <label for="currency">Тип оплаты:</label>
                            <select id="currency" name="currency" class="form-control" required>
                                <option selected></option>
                                <option value="Доллар">Доллар</option>
                                <option value="Сум">Сум</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for="payment">ТМетод оплаты:</label>
                            <select id="payment" name="payment_type" class="form-control" required>
                                <option selected></option>
                                <option value="Наличные">Наличные</option>
                                <option value="Перечисление">Перечисление</option>
                                <option value="Карта">Карта</option>
                            </select>
                        </div>
                        <div class="col-lg-4 text-right">
                            <button type="submit" class="mt-4 btn btn-outline-primary submit_button">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Расходы</h4>
            </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ЮЗЕР</th>
                        <th>СММА</th>
                        <th>СОЗДАНИЕ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for i in obj %}
                    <tr>
                        <td>{{ i.user }}</td>
                        <td>{{ i.sum }}</td>
                        <td>{{ i.created_at }}</td>
                        <td class="text-center text-primary"><button class="btn btn-outline-primary more_button">Еще</button></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="5">Empty</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>

{% endblock %}

{% block js %}
    <script>

        $('#category').on('change', function(e){
            $('#reason').html(' ');
            $.ajax({
                url: "{% url 'motoadmin1:ajax_get_category' %}",
                type: 'POST',
                headers: {
                    "X-CSRFToken": csrftoken,
                },
                data: JSON.stringify({
                    'id': $(this).val(),
                }),
                contentType: "application/json",
                dataType: 'json',
                success: function(data) {
                    for(let i=0; i<data.length; i++) {
                        $('#reason').append(
                            "<option value='" + data[i]['pk'] + "'>" + data[i]['fields']['name'] + "</option>"
                            )
                    }
                },
                error: function(e) {
                    console.log(e)
                }
            })
            if ($(this).find(':selected').attr('data-type') == 'Сотрудники') {
                $('#changing_div').html(' ');
                $('.changing_div').removeClass('d-none');
                $('.response_div').removeClass('col-lg-8');
                $('.response_div').addClass('col-lg-4');
                $('.changing_div_label').html('Сотрудники')
                $.ajax({
                    url: "{% url 'motoadmin1:ajax_get_workers' %}",
                    {#type: 'POST',#}
                    header: {
                        "X-CSRFToken": csrftoken,
                    },
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(data) {
                        console.log(data)
                        for (let i=0; i<data.length; i++) {
                            $('#changing_div').append(
                            "<option value='" + data[i]['pk'] + "'>" + data[i]['fields']['name'] + "</option>"
                            )
                        }
                    },
                    error: function(e) {
                        console.log(e);
                    }
                })
            } else if ($(this).find(':selected').attr('data-type') == 'Машина') {
                $('#changing_div').html(' ');
                $('.changing_div').removeClass('d-none');
                $('.response_div').removeClass('col-lg-8');
                $('.response_div').addClass('col-lg-4');
                $('.changing_div_label').html('Машина')
                $.ajax({
                    url: "{% url 'motoadmin1:ajax_get_cars' %}",
                    header: {
                        "X-CSRFToken": csrftoken,
                    },
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(data) {
                        console.log(data)
                        for (let i=0; i<data.length; i++) {
                            $('#changing_div').append(
                            "<option value='" + data[i]['pk'] + "'>" + data[i]['fields']['car_number'] + "</option>"
                            )
                        }
                    },
                    error: function(e) {
                        console.log(e);
                    }
                })
            } else {
                $('#changing_div').html(' ');
                $('.changing_div_label').html('Станки');
                $('.response_div').addClass('col-lg-8');
                $('.changing_div').addClass('d-none');
            }
        });

        $('.more_button').click(function(){
            document.getElementsByClassName("popup")[0].classList.add("active");
        });

        //alert js
        //document.getElementById("open-popup-btn").addEventListener("click",function(){
          //document.getElementsByClassName("popup")[0].classList.add("active");
        //});

        document.getElementById("dismiss-popup-btn").addEventListener("click",function(){
          document.getElementsByClassName("popup")[0].classList.remove("active");
        });
        // end alert js
    </script>
{% endblock %}