{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Добавить категория расходов</h4>
            </div>
            <div class="mx-auto m-4 p-3 w-75">
                <form method="POST" action="{% url 'motoadmin1:costs_add' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                  <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>

        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Категория расходов</h4>
            </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>НАИМЕНОВАНИЕ КАТЕГОРИИ РАСХОДА</th>
                        <th>ТИП КАТЕГОРИИ РАСХОДА</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                {% for i in object_list %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.type }}</td>
                        <td class="text-center text-primary"><a href="{% url 'motoadmin1:costs_cat_edit' i.id %}"><i class="fa fa-pen fa-solid"></i></a></td>
                        <td class="text-center text-primary"><a href="{% url 'motoadmin1:costs_cat_list' i.id %}"><i class="fa fa-eye fa-solid"></i></a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">Empty</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
{% endblock %}

{% block js %}{% endblock %}