{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Добавить Расход Для Категории: Test_category</h4>
            </div>
            <div class="mx-auto m-4 p-3 w-75">
                <form method="POST" action="{% url 'motoadmin1:costs_cat_add' pk %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                  <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>

        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Расходы по категория</h4>
            </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ДАТА СОЗДАНИЕ</th>
                        <th>КАТЕГОРИЯ</th>
                        <th>ПРИЧИНА</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for i in category_cost %}
                    <tr>
                        <td>{{ i.created_at }}</td>
                        <td>{{ i.outlay_type_id.name }}</td>
                        <td>{{ i.name }}</td>
                        <td class="text-center text-primary"><a href="{% url 'motoadmin1:costs_cat_after_radd_edit' i.id %}"><i class="fa fa-pen fa-solid"></i></a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="4">Empty</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
{% endblock %}

{% block js %}{% endblock %}