{% extends 'layout.html' %}

{% block css %}{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Склад</h4>
                <a href="{% url 'motoadmin1:store_add' %}" class="btn btn-primary ml-auto">Добавить</a>
            </div>
        </div>

        <div class="card shadow m-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>НАЗВАНИЕ</th>
                                <th>СТАТУС</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in store %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.status }}</td>
                                <td class="text-center text-primary"><a href="{% url 'motoadmin1:store_edit' i.id %}"><i class="fa fa-pen fa-solid"></i></a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="text-center" colspan="6">Empty</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}{% endblock %}