{% extends 'layout.html' %}

{% block css %}

{% endblock %}

{% block body %}
        <div class="card m-4 border-left-primary">
            <div class="card-body d-flex">
                <h4>Соотрудники</h4>
                <a href="{% url 'motoadmin1:workers_add' %}" class="btn btn-primary ml-auto">Добавить</a>
            </div>
        </div>

        <div class="card shadow m-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ф.И.О</th>
                                <th>НОМЕР ТЕЛЕФОНА</th>
                                <th>ЗАРПЛАТА (СУММА ЗА 1 ДЕНЬ)	</th>
                                <th>МЕСТО РАБОТЫ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in object_list %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.work_price }}</td>
                                <td>{{ i.work_place }}</td>
                                <td class="text-center text-primary"><a href="{% url 'motoadmin1:workers_edit' i.id %}"><i class="fa fa-pen fa-solid"></i></a></td>
                            </tr>
                            {% empty %}
                                <tr>
                                    <td class="text-center" colspan="6">Empty</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}

{% endblock %}